@tailwind base;
@tailwind components;
@tailwind utilities;

.registration {
  margin: auto;

  @media screen and (min-width: 960px) {
    width: 680px;
  }
}

.registration__heading {
  color: #fff;
}

.registration__form {
  background-color: white;
  padding: 30px;
  margin-bottom: 20px;

  @apply shadow-md rounded
}

.registration__form-field--block {
  margin-bottom: 12px;
}

.registration__form-field div {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

.registration__form-field--full {
  margin-bottom: 20px;
}

.registration__form-field--full div,
.registration__form-field--full input {
  width: 100%;
}

.registration__form-label {
  @apply block text-gray-700 font-bold mb-2;
}

.registration__form-input {
  width: 100%;
  @apply shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight;
}

.registration__form-select {
  width: 100%;
  @apply shadow border rounded py-2 px-3 text-gray-700 leading-tight;
}

.registration__form-calendar {
  width: 100%;
  letter-spacing: 1px;
  margin-top: 12px;
}

.registration__form-consent {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  margin-top: 20px;
}

.registration__form-consent input {
  width: 16px !important;
  height: 16px;
  margin: 10px 8px 0;
}

.registration__submit-btn {
  background-color: #3e83b3;
  color: white;

  @apply h-12 w-full sm:w-2/4;
  @apply shadow appearance-none border rounded py-2 px-3 leading-tight;
}

.required {
  color: #3e83b3;
}

.form-validation {
  color: red;
  text-align: center;
  padding-top: 20px;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  margin-right: 5px;
}

input[type="radio"]:checked {
  background-color: #3e83b3;
}

input[type="radio"], input[type="checkbox"] {
  cursor: pointer;
}

ol {
  list-style: decimal;
}

.spinner {
  background-color: rgba(62, 131, 179, 0.4)
}

@media screen and (min-width: 720px) {
  .registration__form {
    padding: 35px 70px;
  }

  .registration__form-field {
    display: flex;
    justify-content: space-between;
  }

  .registration__form-field div {
    width: auto;
  }

  .registration__form-consent {
    flex-direction: row;
  }

  .registration__form-consent input {
    margin-top: 0;
  }
}

@media screen and (min-width: 730px) {
  .registration__form-input {
    width: 250px;
  }

  .registration__form-select {
    width: 250px;
  }
}

@media screen and (min-width: 960px) {
  .registration {
    width: 680px;
  }
}