@tailwind base;
@tailwind components;
@tailwind utilities;


.registration, .verification {
  margin: auto;
}

.verification__result {
  color: #3e83b3;
  @apply text-lg text-center font-bold py-2 sm:py-4;
}

.registration__header {
  color: black;
  padding-bottom: 30px;
}

.registration__header-btn {
  color: #3e83b3;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: underline;
}

.registration__header-img, .verification__header-img {
  height: auto;
  width: calc(100% + 50px);
  margin-left: -30px;
}

.registration__form {
  background-color: white;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 0;

  @apply shadow-md rounded
}

.verification__form {
  background-color: white;
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 0;

  @apply shadow-md rounded
}

.registration__form-field--block {
  margin-bottom: 12px;
}

.registration__form-field div {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

.verification__form-field div {
  margin: 20px 0 30px 0;
}

.registration__form-field--full {
  margin-bottom: 20px;
}

.registration__form-field--full div,
.registration__form-field--full input {
  width: 100%;
}

.registration__form-label, .verification__form-label {
  @apply block text-gray-700 font-bold mb-2;
}

.registration__form-input, .verification__form-input {
  width: 100%;
  @apply shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight;
}
.registration__form-select {
  width: 100%;
  @apply shadow border rounded py-2 px-3 text-gray-700 leading-tight;
}

.registration__form-calendar {
  width: 100%;
  letter-spacing: 1px;
  margin-top: 12px;
}

.registration__form-consent {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  margin-top: 20px;
}

.registration__form-consent input {
  width: 1.5rem !important;
  height: 1.5rem;
  margin: 10px 8px 0;
}

.registration__submit-btn, .verification__submit-btn {
  background-color: #3e83b3;
  color: white;

  @apply h-12 w-full sm:w-2/4;
  @apply shadow appearance-none border rounded py-2 px-3 leading-tight;
}

.required {
  color: #3e83b3;
}

.form-validation {
  color: red;
  text-align: center;
  padding-top: 20px;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  margin-right: 5px;
}

input[type="radio"]:checked {
  background-color: #3e83b3;
}

input[type="radio"], input[type="checkbox"] {
  cursor: pointer;
}

ol {
  list-style: decimal;
}

.spinner {
  background-color: rgba(62, 131, 179, 0.4)
}

@media screen and (min-width: 470px) {
  .verification__form-field div {
    display: flex;
    align-items: baseline;
  }

  .verification__form-label {
    margin-right: 10px;
  }
}

@media screen and (min-width: 575px) {
  .verification__form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .verification__form {
    padding: 35px 120px;
  }

  .verification__form-field div, .verification__submit-btn {
    width: 350px;
  }
}

@media screen and (min-width: 720px) {
  .registration__header-img {
    width: calc(100% + 65px);
    margin-left: -35px;
  }

  .registration__form {
    padding: 35px 70px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .registration__form-field {
    display: flex;
    justify-content: space-between;
  }

  .registration__form-field div {
    width: auto;
  }

  .registration__form-field div:first-child {
    padding-right: 25px;
  }

  .registration__form-consent {
    flex-direction: row;
  }

  .registration__form-consent input {
    width: 1.2rem !important;
    height: 1.2rem;
    margin-top: 0;
  }
}

@media screen and (min-width: 730px) {
  .registration__form-input {
    width: 250px;
  }

  .registration__form-select {
    width: 250px;
  }
}

@media screen and (min-width: 960px) {
  .registration, .verification {
    width: 680px;
  }

  .registration__form {
    margin-top: 40px;
  }
}