@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #374151;
  background-image: url('../assets/tnc-blue-gradient.png');
  background-size: cover;
}

.main {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.app-header--mobile {
  height: 55vh;
  background-image: url('../assets/poster.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 52%;

  @apply mt-12;
  @apply sm:mt-0 sm:hidden;
}

.app-header-img {
  @apply hidden pt-12;
  @apply sm:block sm:pt-0;
}

.app-nav {
  background-color: rgba(31, 101, 140);
  backdrop-filter: blur(10px);
  @apply fixed w-full top-0 text-white text-lg;
  @apply sm:sticky sm:px-8;
  @apply md:px-16;
  @apply lg:px-20;
  @apply xl:px-20;
}

.app-nav__menu {
  @apply flex;
  @apply sm:gap-x-12;
  @apply md:gap-x-16;
  @apply lg:gap-x-28;
}

.app-nav__cta {
  background-color: #2593A2;
  position: relative;
  font-size: 16px;
  @apply py-2 px-4 rounded text-sm;
  @apply sm:px-8 sm:text-lg sm:bg-white;
}

.app-nav--desktop {
  @apply hidden h-20;
  @apply sm:flex sm:justify-between sm:items-center sm:h-20;
}

.app-nav--mobile {
  @apply h-12 flex items-center justify-center gap-x-8;
  @apply sm:hidden;
}

.app-nav--alldevice {
  @apply h-14 flex items-center justify-center gap-x-8;
  @apply sm:h-24 sm:justify-end;
}

.chevron {
  width: 10px;
  height: 10px;
  border-top: 8px solid #ffffff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  right: 35px;

  @apply sm:hidden;
}

.app-footer {
  color: white;
  background-color: #324A7A;
  backdrop-filter: blur(10px);
  @apply py-4 sticky bottom-0;
}

.app-footer__heading {
  text-transform: uppercase;
  font-weight: 700;

  @apply flex flex-col gap-y-3 items-center text-lg px-4;
  @apply sm:flex-row sm:justify-evenly sm:gap-x-10;
  @apply md:gap-x-40;
  @apply lg:px-0;
}

.app-footer__heading > button {
  color: #2593A2;

  @apply py-1 px-2 bg-white cursor-pointer rounded;
}

.app-footer--secondary {
  background-color: #324A7A;
  @apply flex flex-col gap-y-1 text-center text-sm text-white pb-4;
  @apply md:text-base;
}

.app-footer--secondary__body2 {
  @apply flex justify-center gap-x-10;
  @apply md:gap-x-16;
}


@media screen and (min-width: 640px) {
  .app-nav {
    background-color: rgba(31, 101, 140, 0.75);
  }
  
  .app-nav__cta {
    color: #2593A2;
    text-decoration: none;
  }
}

@media screen and (min-width: 720px) {
  .main {
    padding: 0 30px;
  }
}

