.introduction__main {
  @apply my-10 text-white;
  @apply sm:mx-16;
  @apply lg:mx-40;
  @apply xl:mx-60;
}

.info__main {
  background-color: #2593A2;
  @apply rounded-lg p-6 text-white;
  @apply sm:p-10;
  @apply xl:py-14 xl:px-16;
}

.info__body:first-child {
  @apply mb-10;
}

.info__body-title {
  @apply text-xl font-bold underline;
  @apply md:text-2xl md:mb-2;
}

.info__body-title--undecorated {
  @apply text-xl font-bold mb-8;
  @apply md:text-2xl;
}

.info__body-paragraph {
  @apply mt-4 text-sm;
}

.info__body-salutation {
  @apply mt-8 text-sm;
  @apply lg:text-lg;
}

.content__section {
  width: 100%;

  @apply flex flex-col justify-center items-center;
  @apply sm:gap-x-40;
  @apply md:px-10;
  @apply lg:flex-row lg:px-0;
}

.content__heading {
  @apply py-4 sm:py-8 lg:py-0;
}

.content__heading > h1 {
  line-height: 1.2 !important;
  font-family: Arial;
  @apply text-4xl text-center font-black uppercase;
  @apply sm:text-5xl;
  @apply lg:text-6xl;
}

.content__list-item {
  background-color: #324A7A;
  @apply w-full m-auto p-4 my-8 rounded-lg;
  @apply sm:w-8/12 sm:p-8;
  @apply lg:w-full lg:p-6;
}

.content__list-item-title {
  @apply text-xl mb-1 underline;
  @apply sm:text-2xl;
}

.content__list-item-title-body {
  @apply sm:text-lg;
}

@media screen and (min-width: 1024px) {
  .content__section > div:first-child {
    flex-basis: 300px;
  }

  .content__section > div:last-child {
    flex-basis: 500px;
  }  
}

.bargraph {
  color: #324A7A;
  @apply p-6 bg-white w-full text-xs;
  @apply sm:text-lg;
  @apply lg:px-10;
}

.bargraph__title {
  @apply text-2xl text-center underline pb-4;
}

.bargraph__data {
  @apply flex flex-col justify-center gap-y-2 w-full;
}

.bargraph__bar {
  background-color: #324A7A;
  height: 36px;
}

.bargraph__metrics {
  @apply flex justify-between border-t-2;
}

.promo {
  @apply flex flex-col items-center justify-center gap-y-6 py-10;
  @apply sm:py-32;
  @apply lg:flex-row lg:flex-wrap lg:gap-x-2 lg:gap-y-2;
}

.promo__section {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.promo__video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f373b83;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


.promo__video-overlay.hidden {
  display: none;
}

.promo__video-overlay.visible {
  display: flex;
}

.promo__video-container {
  @apply w-11/12;
  @apply sm:w-9/12;
  @apply lg:w-7/12;
  @apply flex flex-row-reverse justify-center items-start pb-10;
}

.promo__video-close-btn {
  background-color: #263759;
  margin-left: -10px;
  z-index: 9;
  @apply rounded-full outline px-2 py-0 text-white text-lg;
}

.promo__video-iframe {
  width: 100%;
  height: 520px;
}

@media screen and (min-width: 500px) {
  .promo__section {
    max-width: 580px;
    height: 580px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 780px) {
  .promo__section {
    max-width: 500px;
    max-height: 500px;
  }
}
